














.bodyIntro{
    width: 100%;
    height: 934px;
    background-image: url('./welcomescreen.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.bodyFlex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}
.squareBox{
    height: 368.9876403808594px;
    width: 320px;
    border-radius: 0px;
    border: 4px solid #FFFFFF;
    margin:auto;
    margin-bottom: 0px;
    margin-top: 130px;
}


.squareText1{
    font-family: Bebas Neue;
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    margin-top: 90px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-align: center;
}
.squareText2{
    font-family: PT Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color:#FFFFFF;
    border-top: solid 1px #FFFFFF;
    display: block;
    width: 70%;
    padding-top: 30px;
    margin: auto;
}
.bottomText{
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    height: 110.69629669189453px;
    width: 730px;
    border-radius: nullpx;
    color:#FFFFFF;
    margin: auto;
    margin-top: 0px;
}
.width100{
    width: 100%;
}
.width50{
    width:50%;
}
.width880{
    width: 880px;
}
.width1140{
    width: 1140px;
}








.mainGood{
    width:260px;
    margin: auto;
    margin-bottom: 10px;
}
.goodImgBg{
    height: 380px;
    width: 260px;
    border-radius: 0px;
    background: #191B1C;
    padding: 10px;
}
.goodImg{
    width: 100%;
    border-radius: 0px;
    margin-top: 10px;
    
}
.goodText1{
    font-family: Playfair Display;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    height: 24px;
    width: 100%;
    border-radius: nullpx;
    color:#FFFFFF;

}
.goodText2{
    font-family: Playfair Display;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    height: 21px;
    width: 100%;
    border-radius: nullpx;
    color:#D0D0D0;
}
.goodTextBlock{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    color:#D0D0D0;

}
.flex1{
    display: flex;
    flex-wrap: wrap;
    
}
.calculate{
    font-family: Playfair Display;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    height: 21px;
    border-radius: nullpx;
    color:#D0D0D0;
}
.buttonAddToCart{
    width: 25px;
    height: 25px;
}











.bodyNews{
    width:100%;
    display: flex;
}
.newSeason{
    height: 730px;
    border-radius: 0px;
    background-color: #000000;

}
.newSeasonText{
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    height: 39px;
    width: 376px;
    border-radius: nullpx;
    color:#FFFFFF;
    
    margin:auto;
    margin-top: 80px;
    margin-bottom: 60px;
    border-bottom: solid 1px #FFFFFF;
    padding-bottom: 80px;
}
.newCollection{
    height: 730px;
    border-radius: 0px;
    background-image: url('./newcollection.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.newCollectionText{
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    height: 39px;
    width: 376px;
    padding-bottom: 80px;
    border-radius: nullpx;
    border-bottom: solid 1px #FFFFFF;
    margin:auto;
    margin-top: 480px;
    color: #FFFFFF;
}
.buttonCollection{
    background-color:transparent;
    border: solid 2px #FFFFFF;
    color: #FFFFFF;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 250px;
    height: 60px;
    border-radius: nullpx;
    margin: auto;
    margin-top: 50px;
}





























.collectionBlock{
    display: flex;
}
.collectionImg{
    height: 600px;
    width: 100%;
    border-radius: 0px;

}
.oldCollection{
    background-color:#000000;
}
.oldCollectionText1{
    font-family: Playfair Display;
font-size: 36px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0em;
text-align: center;
height: 39px;
width: 376px;
left: 1212px;
top: 1888px;
border-radius: nullpx;
color:#FFFFFF;
border-bottom: solid 1px #FFFFFF;
padding-bottom: 80px;
margin: auto;
margin-top: 100px;
}
.oldCollectionText2{
    height: 173px;
width: 471px;
left: 1165px;
top: 2007px;
border-radius: nullpx;
font-family: PT Sans;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: center;
color:#FFFFFF;
margin: auto;
margin-top: 50px;
}