.CarouselItem{
    flex-wrap: wrap;
    display: flex !important;
}
.width1080{
    width: 1080px;
    margin:auto;
}
.bgColorBlack{
    background-color: #000000;
}
.textValue{
    padding: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    background-color: #000000;
    color: #FFFFFFFF;
}